<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
    {{>header}}

</head>


<body>

    <div class="main-content">


        <p>{{error}}</p>

    </div>

    


</body>


</html>